{erl_opts, [debug_info]}.

{deps, [
  {lfe, {git, "http://github.com/rvirding/lfe", {branch, "develop"}}}
]}.

{provider_hooks, [
    {pre, [{compile, {lfe, compile}}]}
]}.

{plugins, [
   {rebar3_lfe, {git, "https://github.com/lfe-rebar3/rebar3_lfe.git", {branch, "feature/ltest-support"}}}
]}.

{profiles, [
  {test, [
     {deps, [
        {ltest, {git, "https://github.com/lfex/ltest.git", {branch, "release/0.11.x"}}}]},
        {eunit_opts, [verbose]},
        {erl_opts, [{src_dirs, ["src", "test"]}]}
  ]}
]}.
